  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div class="nav-l">
      <a href="/posts" class="<%= title=="All Post" ? "active" : "" %>">All Post</a>
      <a href="/posts/new" class="<%= title=="Add Post" ? "active" : "" %>">Add Post</a>
      
    </div>
    <div class="nav-r">
      <% if (user) { %>
      <a href="/profile/<%= user.profile._id %>">Profile</a>
      <a href="/auth/logout" class="right">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
    </div>
  </nav>
